body {
    background-color: white;
}

.tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.tarjeta {
    background: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 350px;
    transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
    text-align: center;
    align-items: center;
}

.tarjeta:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(rgba(255, 255, 255, 1), rgb(255, 239, 225));
}

.tarjeta img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.tarjeta h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.tarjeta p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pie-pagina {
    bottom: 0;
}