@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --header-height: 5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/

    --black-color: #e84335;
    --background-image: linear-gradient(75deg, #e84335 35%, #f1830b 100%);
    --black-color-light: #ec691c;
    --black-color-lighten: #f1830b;
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Red Hat Display", sans-serif;
    --normal-font-size: .938rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 800;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
    }
}


/* ======BASE===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* =========REUSABLE======== */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/* ============HEADER============ */
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    background-image: var(--background-image);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
    color: var(--white-color);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav__logo img {
    width: 16rem;
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;

}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity.1s, transform .4s;
}

.nav__close {
    opacity: 0;
}

/* ======== NAVEGACION EN MOBIL======== */
@media screen and (max-width: 1118px){
    .nav__menu {
        position: absolute;
        left: 0;
        top: 5rem;
        width: 100%;
        /* background-color: gray; */
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0; 
        transition: top .4s, opacity .3s;
    }

    .nav__menu::-webkit-scrollbar{
        width: 0;
    }

    .nav_list {
        background-color: var(--black-color);
        padding-top: 1rem;
    }
}

.nav__link {
    color: var(--white-color);
    background-color: var(--black-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: backgoround-color .3s;
}

.nav__link:hover{
    background-color: var(--black-color-light);

}

/* =====MOSTRAR MENU====== */
.show-menu{
    opacity: 1;
    top: 4.5rem;
    pointer-events: initial;
}

.show-icon .nav__burger{
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close{
    opacity: 1;
    transform: rotate(90deg);
}

/* =========DROPDAWN=========== */
.dropdown__item{
    cursor: pointer;
}

.dropdown__arrow{
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown__link{
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--white-color);
    background-color: var(--black-color-light);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
}

.dropdown__link:hover{
    background-color: var(--black-color-lighten);
}

.dropdown__menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out ;
}

.dropdown__item:hover .dropdown__menu{
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

.dropdown__item:hover .dropdown__arrow{
    transform: rotate(180deg);
}

/* =======BREAKPOINTS======= */
/* Para pequenos dispositivos */
@media screen and (max-width: 349px){
    .container{
        margin-inline:1rem;
    }

    .nav__link{
        padding-inline: 1rem;
    }

    .nav__logo img {
            width: 12rem;
     }
}

/* Para grandes dispositivos */
@media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }

    .nav{
        height: calc(var(--header-height) + .1rem);
        display: flex;
        justify-content: space-between;
    }

    .nav__toggle{
        display: none;
    }

    .nav__list{
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav__link{
        height: 100%;
        padding: 5px;
        justify-content: initial;
        column-gap: .25rem;
        background-color: transparent;
        transition: color 0.3s;
    }

    .nav__link:hover{
        background-color: transparent;
        color: #050505;
        /* font-weight: var(--font-bold); */
    }

    .dropdown__item{
        position: relative;
    }

    .dropdown__menu{
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;

    }

    .dropdown__link{
        padding-inline: 1rem 3.5rem;
    }

    .dropdown__item:hover .dropdown__menu{
        opacity: 1;
        top: 4.5rem;
        pointer-events: initial;
        transition:  top .3s;
    }
}

/* Estilos adicionales para el menú desplegable */
.sidebar {
    position: fixed;
    left: -250px; /* Posición inicial fuera de la pantalla */
    top: 0;
    width: 250px;
    height: 100%;
    background: #333; /* Color de fondo del sidebar */
    transition: left 0.3s ease;
    z-index: 1500; /* Asegura que esté por encima de otros contenidos pero bajo el nav toggle */
}


.sidebar ul {
    list-style: none;
    padding: 20px;
}

.sidebar ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.menu-icon {
    cursor: pointer;
    position: fixed; /* Importante para mantener el botón visible */
    top: 20px; /* Ajusta según la maquetación de tu sitio */
    left: 20px; /* Posición a la izquierda */
    z-index: 2000; /* Asegúrate de que está por encima de otros elementos */
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacio entre las líneas del ícono del menú */
}

.menu-icon-line {
    width: 30px; /* Ancho de las líneas del ícono del menú */
    height: 3px; /* Altura de las líneas */
    background-color: white; /* Color de las líneas */
}
