*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: "Red Hat Display", sans-serif; 

}

p{
    color: #333;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.image{
    flex: 1;
    margin-right: 20px;
    opacity: 0;
    animation: slideInFromLeft 1s forwards;
}

.image img{
    max-width: 100%;
    height: auto;
}

.content{
    flex: 2;
    opacity: 0;
    animation: slideInFromRight 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.text{
    text-align: justify;
}

.sangria{
    padding-left: 160px;
    padding-right: 160px;
    text-align: justify;
}

#TituloA{
    text-align: center;
    font-size: 25px;
    background-color: #ffffff;
    color: #E72D36;
    padding: 10px;
}


/* SECCION DE ACERCA DE NUESTRA COMIDA*/
#TituloV{
    text-align: center;
    font-size: 25px;
    background-color: #ffffff;
    color: #F1830B;
    padding: 10px;
}

.container-vision {
    display: flex;
}

.grid-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: calc(50% - 10px);
}

.img-grid{
    border-radius: 10px;
    overflow: hidden;
}

.img-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
 

.textoV{
    width: calc(50% - 10px);
    margin-right: 10px;
}
/* ------------------------------------------------------------ */

/* ESTILOS DE EXPLORAR EVENTOS */

.container-E{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    background-image: url(../imagenes/EJazz.jpg);
    background-size: 85em;
    background-position: 30%;
}

#Eeventos{
    color: #ffffff;
}

.sangria-E{
    padding-left: 160px;
    padding-right: 160px;
    text-align: justify;
    color: #ffffff;
}

.line-container {
    width: 60%;
    height: 25px; /* Altura de la línea */
    position: relative;
    padding-left: 160px;
    padding-right: 160px;
}

.line {
    position: absolute;
    left: 0;
    top: 50%; /* Posición vertical de la línea */
    width: 100%;
    height: 5px; /* Grosor de la línea */
    background: linear-gradient(to right, #E72D36, #F1830B); /* Color de la línea */
    transform: translateY(-50%); /* Centra verticalmente la línea */

}


/*
.image-p{
    flex: 1;
    margin-right: 20px;
    opacity: 0;
    animation: slideInFromLeft 1s forwards;
}


.image-p img{
    max-width: 100%;
    height: auto;
}

*/
/*---------------------------------------------------------- */

/*---------------RESPONSIVIDAD----------*/

@media (max-width: 768px) {
    h1 {
        font-size: 3em; /* Reduce el tamaño de fuente para pantallas pequeñas */
        margin-top: 5%; /* Ajusta el margen superior */
        margin-bottom: 2%; /* Ajusta el margen inferior */
    }

    .navbar {
        flex-direction: column; /* Cambia la disposición a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }

    #icono-nav, #titulo-nav {
        margin-left: 0; /* Centra el icono y el título */
        text-align: center; /* Centra el texto */
    }

    .botones-nav {
        margin-left: 0; /* No desplaza los botones a la derecha */
        display: flex;
        justify-content: center; /* Centra los botones */
        flex-direction: row; /* Mantiene los botones en línea horizontal */
    }
    
    .botones-nav button {
        font-size: 0.875rem; /* Tamaño de fuente reducido para mejor ajuste en pantallas pequeñas */
        padding: 0.3em 0.6em; /* Reduce el padding para botones más pequeños */
        margin-right: 1em; /* Ajustar espacio entre botones */
    }
}

@media (max-width: 480px) {
    #titulo-nav {
        font-size: 1.125rem; /* Reduce el tamaño del título para pantallas muy pequeñas */
    }

    .botones-nav button {
        font-size: 0.75rem; /* Ajusta el tamaño de la fuente para pantallas muy pequeñas */
    }

    h1 {
        font-size: 2em; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
    }

}


/*-------TITULO DE GLOBITO------- */
#Titulo-Circular .tituloTC{
    text-align: center;
    font-size: 25px;

}

#Titulo-Circular .subtituloTC{
    text-align: center;
    font-size: 15px;
}

.container-TC{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    background-image: url(../imagenes/EJazz.jpg);
    background-size: 85em;
    background-position: 30%;
}