*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: "Red Hat Display", sans-serif; 

}

p{
    color: #333;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.image{
    flex: 1;
    margin-right: 20px;
    opacity: 0;
    animation: slideInFromLeft 1s forwards;
}

.image img{
    max-width: 100%;
    height: auto;
}

.content{
    flex: 2;
    opacity: 0;
    animation: slideInFromRight 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


#Titulo-Circular{
    height: 500px;
    background-color: white;
    font-family: 'Red Hat Display', sans-serif; /* Fallback a una fuente sans-serif por si la fuente no se carga correctamente */
    height: 50vh;
}

#Titulo-Circular .contenedor-TC{
    text-align: center; /* Para centrar el contenido */
    height: 50vh;
}

.medio-circulo {
    width: 100%; /* Ancho del círculo */
    height: 100vh; /* Altura del círculo */
    background-color: #f0f0f0; /* Color de fondo del círculo */
    border-radius: 0 0 3000px 3000px; /* Hacemos que la esquina inferior izquierda y derecha sean redondeadas para crear un círculo perfecto */
    position: relative; /* Permitirá posicionar la imagen dentro del círculo */
    margin: -300px auto 0;
    overflow: hidden; /* Para ocultar partes de la imagen que sobrepasen el círculo */
    z-index: 1;
  }

  
  
  .medio-circulo img {
    width: 100%; /* La imagen ocupará todo el ancho del círculo */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Para eliminar cualquier espacio adicional alrededor de la imagen */
    position: absolute; /* Posiciona la imagen relativa al contenedor */
    bottom: 0; /* Alinea la imagen en la parte inferior del círculo */
    left: 50%; /* Coloca la imagen en el centro horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición de la imagen horizontalmente */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
    opacity: 0; /* Configura la opacidad inicial en 0 (completamente transparente) */
    animation: aparecer 1s ease forwards; /* Define la animación 'aparecer' con una duración de 1 segundo */
    z-index: 1;
    /*filter: blur(6px);  Aplica un desenfoque de 5px a la imagen de fondo */
  }
  
  @keyframes aparecer {
    from {
      opacity: 0; /* Comienza con una opacidad de 0 */
    }
    to {
      opacity: 1; /* Termina con una opacidad de 1 */
    }
  }
  
  .medio-circulo h1 {
    color: white;
    font-size: 100px;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
  }
  
  .medio-circulo h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px; /* Coloca la barra 10 píxeles debajo del texto */
    width: 57%; /* largo de la barra */
    height: 10%; /* Grosor de la barra */
    background: linear-gradient(to right, #ff9900, #ff6600);
    transform: translateX(-50%); /* Centra la barra horizontalmente */
    
  }
  
  

  .medio-circulo p {
    color: white;
  font-size: 20px;
  position: relative;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Asegura que el texto esté por encima de la imagen */
  color: white;
  font-family: 'Red Hat Display', sans-serif; /* Fallback a una fuente sans-serif por si la fuente no se carga correctamente */
  font-weight: normal;
  }

.text{
    text-align: justify;
}

.sangria{
    padding-left: 160px;
    padding-right: 160px;
    text-align: justify;
}

#TituloA{
    text-align: center;
    font-size: 25px;
    background-color: #ffffff;
    color: #E72D36;
    padding: 10px;
}


/* SECCION DE ACERCA DE NUESTRA COMIDA*/
#TituloV{
    text-align: center;
    font-size: 25px;
    background-color: #ffffff;
    color: #F1830B;
    padding: 10px;
}

.container-vision {
    display: flex;
}

.grid-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: calc(50% - 10px);
}

.img-grid{
    border-radius: 10px;
    overflow: hidden;
}

.img-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
 

.textoV{
    width: calc(50% - 10px);
    margin-right: 10px;
}
/* ------------------------------------------------------------ */

/* ESTILOS DE EXPLORAR EVENTOS */

.container-E{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    background-image: url(../imagenes/EJazz.jpg);
    background-size: 85em;
    background-position: 30%;
}

#Eeventos{
    color: #ffffff;
}

.sangria-E{
    padding-left: 160px;
    padding-right: 160px;
    text-align: justify;
    color: #ffffff;
}

.line-container {
    width: 60%;
    height: 25px; /* Altura de la línea */
    position: relative;
    padding-left: 160px;
    padding-right: 160px;
}

.line {
    position: absolute;
    left: 0;
    top: 50%; /* Posición vertical de la línea */
    width: 100%;
    height: 5px; /* Grosor de la línea */
    background: linear-gradient(to right, #E72D36, #F1830B); /* Color de la línea */
    transform: translateY(-50%); /* Centra verticalmente la línea */

}


/*
.image-p{
    flex: 1;
    margin-right: 20px;
    opacity: 0;
    animation: slideInFromLeft 1s forwards;
}


.image-p img{
    max-width: 100%;
    height: auto;
}

*/
/*---------------------------------------------------------- */

/*---------------RESPONSIVIDAD----------*/

@media (max-width: 768px) {
    h1 {
        font-size: 3em; /* Reduce el tamaño de fuente para pantallas pequeñas */
        margin-top: 5%; /* Ajusta el margen superior */
        margin-bottom: 2%; /* Ajusta el margen inferior */
    }

    .navbar {
        flex-direction: column; /* Cambia la disposición a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }

    #icono-nav, #titulo-nav {
        margin-left: 0; /* Centra el icono y el título */
        text-align: center; /* Centra el texto */
    }

    .botones-nav {
        margin-left: 0; /* No desplaza los botones a la derecha */
        display: flex;
        justify-content: center; /* Centra los botones */
        flex-direction: row; /* Mantiene los botones en línea horizontal */
    }
    
    .botones-nav button {
        font-size: 0.875rem; /* Tamaño de fuente reducido para mejor ajuste en pantallas pequeñas */
        padding: 0.3em 0.6em; /* Reduce el padding para botones más pequeños */
        margin-right: 1em; /* Ajustar espacio entre botones */
    }
}

@media (max-width: 480px) {
    #titulo-nav {
        font-size: 1.125rem; /* Reduce el tamaño del título para pantallas muy pequeñas */
    }

    .botones-nav button {
        font-size: 0.75rem; /* Ajusta el tamaño de la fuente para pantallas muy pequeñas */
    }

    h1 {
        font-size: 2em; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
    }

}


/*-------TITULO DE GLOBITO------- */
#Titulo-Circular .tituloTC{
    text-align: center;
    font-size: 25px;

}

#Titulo-Circular .subtituloTC{
    text-align: center;
    font-size: 15px;
}

.container-TC{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    background-image: url(../imagenes/EJazz.jpg);
    background-size: 85em;
    background-position: 30%;
}