.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .category .box-container .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
 }
 
 .category .box-container .box img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
 }
 
 .category .box-container .box h3{
    font-size: 2rem;
    margin-top: 1.5rem;
    color:var(--black);
    text-transform: capitalize;
 }
 
 .category .box-container .box:hover{
    background-color: var(--black);
 }
 
 .category .box-container .box:hover img{
    filter: invert(1);
 }
 
 .category .box-container .box:hover h3{
    color:var(--white);
 }